<div class="sideBar">
    <center>
        <select id="select_league" onchange="change_team_options(this.value)">
            <option value="">Choose an option:</option>
            <option value="LCK" selected>LCK</option>
            <option value="LEC">LEC</option>
            <option value="OPL">OPL</option>
            <option value="LFL">LFL</option>
            <option value="LVP">LVP</option>
            <option value="LMS" disabled>LMS</option>
            <option value="AllLeagues">All Leagues</option>
        </select>
    </center>

    <div class="sideBarLeague">
        Image
        
    </div>

    <div class="sideBarLeague">

    </div>

    <div class="sideBarLeague">

    </div>
    
    <div class="sideBarLeague">

    </div>

    <div class="sideBarLeague">

    </div>

    <div class="sideBarLeague">

    </div>

</div>