<div id="txt" class="current-time"></div>
<div class="sideBar">
    <!-- <div id="txt" class="current-time"></div> -->
    <div class="upcoming-matches">
        <!-- Upcoming matches are generated here! -->
    </div>
</div>

<script>
    function updateClock() {
        var now = new Date(), // current date
        months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; // you get the idea

        if (now.getMinutes() < 10) { 
            time = now.getHours() + ':0' + now.getMinutes() + ':' + now.getSeconds(); // again, you get the idea
        }
        else
        {
            time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds(); // again, you get the idea
        }    

        // a cleaner way than string concaten ation
        date = [now.getDate(), 
                months[now.getMonth()],
                now.getFullYear()].join(' '); 

        document.getElementById('txt').innerHTML = [date, time].join(' - ');

        // current_pdt = today.toLocaleString(undefined, {timeZone: 'America/Los_Angeles'})
        // call this function again in 1000ms
        setTimeout(updateClock, 1000);
    }

    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
    }

    updateClock(); // initial call
</script>
