<div class="sideBar">

    <div class="sideBarLeague">
        <img id="PCS" onclick="change_team_options(this.id)" src="images/PCS.jpg" width="100%" height="100%" alt="PCS">
    </div>

    <div class="sideBarLeague">
        <img id="LCS" onclick="change_team_options(this.id)" src="images/NALCS.jpg" width="100%" height="100%" alt="NA">
    </div>

    <div class="sideBarLeague">
        <img id="LEC" onclick="change_team_options(this.id)" src="images/LEC.png" width="100%" height="100%" alt="LEC">
    </div>

    <div class="sideBarLeague">
        <img id="LCK" onclick="change_team_options(this.id)" src="images/LCK.png" width="100%" height="100%" alt="LCK">
    </div>

    <div class="sideBarLeague">
        <img id="LFL" onclick="change_team_options(this.id)" src="images/LFL.png" width="100%" height="100%" alt="NA">
    </div>

    <div class="sideBarLeague">
        <img id="LVP" onclick="change_team_options(this.id)" src="images/LVP.png" width="100%" height="100%" alt="LVP">
    </div>

    <div class="sideBarLeague">
        <img id="Ultraliga" onclick="change_team_options(this.id)" src="images/Ultraliga.png" width="100%" height="100%" alt="CB">
    </div>

    <div class="sideBarLeague">
        <img id="LLA" onclick="change_team_options(this.id)" src="images/LLA.png" width="100%" height="100%" alt="CB">
    </div>

    <div class="sideBarLeague">
        <img id="OPL" onclick="change_team_options(this.id)" src="images/OPL.jpg" width="100%" height="100%" alt="OPL">
    </div>

    <div class="sideBarLeague">
        <img id="LJL" onclick="change_team_options(this.id)" src="images/LJL.jpeg" width="100%" height="100%" alt="LJL">
    </div>

    <div class="sideBarLeague">
        <img id="TCL" onclick="change_team_options(this.id)" src="images/TCL.jpg" width="100%" height="100%" alt="TCL">
    </div>

    <div class="sideBarLeague">
        <img id="VCS" onclick="change_team_options(this.id)" src="images/VCS.jpg" width="100%" height="100%" alt="VCS">
    </div>

    <div class="sideBarLeague">
        <img id="CBLOL" onclick="change_team_options(this.id)" src="images/CBLOL.jpg" width="100%" height="100%" alt="CBLOL">
    </div>

    <div class="sideBarLeague">
        <img id="AllLeagues" onclick="change_team_options(this.id)" src="images/AllLeagues.jpg" width="100%" height="100%" alt="All Leagues">
    </div>

</div>