<body onload="change_team_options('LCS');"></body>
<center><p id="league">LCS</p></center>
<div class="matchData">
    <div class="leftTable">
        <div class="leftTeamSelect">
            <select id="team_one_select" onchange="change_team_one_select(this.value)">
                <option value="">Choose a team:</option>
                <option value="dig">Dignitas</option>
                <option value="imt">Immortals</option>
                <option value="eg">Evil Geniuses</option>
                <option value="tl">Team Liquid</option>
                <option value="clg">Counter Logic Gaming</option>
                <option value="c9">Cloud9</option>
                <option value="tsm">Team SoloMid</option>
                <option value="gg">Golden Guardians</option>
                <option value="opt">OpTic Gaming</option>
                <option value="100">100 Thieves</option>
                <option value="cg">Clutch Gaming</option>
                <option value="fly">FlyQuest</option>
                <option value="fox">Echo Fox</option>
               <!-- This section is not needed but helps with default value 'LCS' -->
            </select>
        </div>
        <div id="teamLogoRow">
            <img alt="" src="" style="height: 100px; width: 100px" id="team_one_image"/>
        </div>
        <div id="tableDiv"></div>
    </div>
    <div class="rightTable">
        <div class="rightTeamSelect">
            <select id="team_two_select" onchange="change_team_two_select(this.value)">
                <option value="">Choose a team:</option>
                <option value="dig">Dignitas</option>
                <option value="imt">Immortals</option>
                <option value="eg">Evil Geniuses</option>
                <option value="tl">Team Liquid</option>
                <option value="clg">Counter Logic Gaming</option>
                <option value="c9">Cloud9</option>
                <option value="tsm">Team SoloMid</option>
                <option value="gg">Golden Guardians</option>
                <option value="opt">OpTic Gaming</option>
                <option value="100">100 Thieves</option>
                <option value="cg">Clutch Gaming</option>
                <option value="fly">FlyQuest</option>
                <option value="fox">Echo Fox</option>
            </select>
        </div>
        <div id="teamLogoRow2">
            <br>
            <img alt="" src="" style="height: 100px; width: 100px" id="team_two_image"/>
        </div>
        <div id="tableDiv2"></div>
    </div>
</div>


          
 