<div class="scrollingContainer">

</div>

<section class="mainContainer">
    <div class="matchData">
        <div class="leftTable">
            <div style="margin-top: 50px; margin-left: 5%;">
                <div style="margin-left: 40%">
                    <select id="team_one_select" onchange="change_team_one_select(this.value)">
                        <option value="">Choose an option:</option>
                        <option value="skt">SK Telecom T1</option>
                        <option value="jag">Jin Air Green Wings</option>
                        <option value="dwg">DAMWON Gaming</option>
                        <option value="gen">Gen.G</option>
                        <option value="af">Afreeca Freecs</option>
                        <option value="sb">SANDBOX Gaming</option>
                        <option value="hle">Hanwha Life Esports</option>
                        <option value="grf">Griffin</option>
                        <option value="kt">KT Rolster</option>
                        <option value="kz">KINGZONE DragonX</option>
                       <!-- This section is not needed but helps with default value 'LCK' -->
                    </select>
                </div>
                <div id="tableDiv" style="margin-top: 40px; text-align:center;">
                    Table will gentare here.
                </div>  
            </div>
        </div>
        <div class="rightTable">
            <div style="margin-top: 50px">
                <div style="margin-left: 40%">
                    <select id="team_two_select" onchange="change_team_two_select(this.value)">
                        <option value="">Choose an option:</option>
                        <option value="skt">SK Telecom T1</option>
                        <option value="jag">Jin Air Green Wings</option>
                        <option value="dwg">DAMWON Gaming</option>
                        <option value="gen">Gen.G</option>
                        <option value="af">Afreeca Freecs</option>
                        <option value="sb">SANDBOX Gaming</option>
                        <option value="hle">Hanwha Life Esports</option>
                        <option value="grf">Griffin</option>
                        <option value="kt">KT Rolster</option>
                        <option value="kz">KINGZONE DragonX</option>
                    </select>
                </div>
                <div id="tableDiv2" style="margin-top: 40px; text-align:center;">
                    Table will gentare here.
                </div>
            </div>
        </div>
    </div>
</section>


          
 