<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
    <div class="dropdown">
        <button class="dropbtn">Leagues
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="javascript:void(0);" onclick="change_team_options('LCS');">NA LCS</a>
            <a href="javascript:void(0);" onclick="change_team_options('NA_Academy_League');">NA Academy</a>
            <a href="javascript:void(0);" onclick="change_team_options('LEC');">LEC</a>
            <a href="javascript:void(0);" onclick="change_team_options('LCK');">LCK</a>
            <a href="javascript:void(0);" onclick="change_team_options('PCS');">PCS</a>
            <a href="javascript:void(0);" onclick="change_team_options('LFL');">LFL</a>
            <a href="javascript:void(0);" onclick="change_team_options('LVP_SuperLiga_Orange');">LVP - Superliga</a>
            <a href="javascript:void(0);" onclick="change_team_options('Ultraliga');">Ultraliga</a>
            <a href="javascript:void(0);" onclick="change_team_options('LLA');">LLA</a>
            <a href="javascript:void(0);" onclick="change_team_options('OPL');">OPL</a>
            <a href="javascript:void(0);" onclick="change_team_options('LJL');">LJL</a>
            <a href="javascript:void(0);" onclick="change_team_options('TCL');">TCL</a>
            <a href="javascript:void(0);" onclick="change_team_options('VCS');">VCS</a>
            <a href="javascript:void(0);" onclick="change_team_options('CBLOL');">CBLOL</a>
        </div>
    </div>  
    <a class = "active" href="/"><i class = "fa fa-fw fa-home"></i>Home</a>
    <a class = "fa fa-info-circle" href = "about">About</a>
</div>