<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
    <div class="dropdown">
        <button class="dropbtn">Leagues
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">NA LCS</a>
            <a href="#">NA Academy</a>
            <a href="javascript:void(0);" onclick="change_team_options('LEC');">LEC</a>
            <a href="#">LCK</a>
            <a href="#">PCS</a>
            <a href="#">LFL</a>
            <a href="#">Superliga</a>
            <a href="#">Ultraliga</a>
            <a href="#">LLA</a>
            <a href="#">OPL</a>
            <a href="#">LJL</a>
            <a href="#">TCL</a>
            <a href="#">VCS</a>
            <a href="#">CBLOL</a>
        </div>
    </div>  
    <a class="active" href="/">Home</a>
    <a href="about">About</a>
    <a href="bets">Bet History</a>    
</div>