<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
    <li><a class = "active" href="/"><i class = "fa fa-fw fa-home" aria-hidden="true"></i></i>Home</a></li>
    <li><a href="javascript:void(0);" onclick="hide_main_divs();" class = "active" href="about"><i class = "fa fa-info-circle" aria-hidden="true"></i></i> About</a></li>
    <li><a class = "active" href="faq"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
    <li><a class = "active" href="bets"><i class="fa fa-usd" aria-hidden="true"></i> Bet History</a></li>
</div>