<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sidenav">
    <a href="javascript:void(0);" onclick="change_team_options('LCS'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/lcs.png" width="50" height="50"><span>  NA LCS</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('NA_Academy_League'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/na_academy.png" width="50" height="50"><span>  NA.A</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('LEC'); show_match_data();" "><img border="0" style="vertical-align:middle" src="images/LeagueLogos/lecnav.png" width="50" height="50"><span>  LEC</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('LCK'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/lcknav.png" width="50" height="50"><span>  LCK</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('PCS'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/pcs.png" width="50" height="50"><span>  PCS</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('LFL'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/lfl.png" width="50" height="50"><span>  LFL</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('LVP_SuperLiga_Orange'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/superliga.png" width="50" height="50"><span>  LVP</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('Ultraliga'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/ultraliga.png" width="50" height="50"><span>  Ultraliga</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('LLA'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/llanav.png" width="50" height="50"><span>  LLA</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('OPL'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/opl.png" width="50" height="50"><span>  OPL</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('LJL'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/ljl.png" width="50" height="50"><span>  LJL</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('TCL'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/tcl.png" width="50" height="50"><span>  TCL</span></a>
    <a href="javascript:void(0);" onclick="change_team_options('VCS'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/vcs.png" width="50" height="50"><span>  VCS</span></a>    
    <a href="javascript:void(0);" onclick="change_team_options('CBLOL'); show_match_data();"><img border="0" style="vertical-align:middle" src="images/LeagueLogos/cblol.png" width="50" height="50"><span>  CBLOL</span></a>
</div>
