
* {
  margin: 0;
  padding: 0;
}

/* Navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
/*.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
*/  


.leftTable { width: 50%; float: left; }
.rightTable {width: 50%; float: right; }

/*.container { overflow: hidden; }*/

.mainContainer {
  width: 100%;
  margin: auto;
}

.matchData { 
  width: 75%;
  height: 200px;
  float: left;
}

::-webkit-scrollbar {
  display: none;
}

.sideBar {
  margin-left: 75%;
  width: 25%;
  height: 100vh;
  border-left: solid;
  border-color: black;
  padding-bottom: 1%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sideBarLeague {
  width: 100%;
  height: 20%;
}

.scrollingContainer {
  margin-left: 10%;
  width: 50%;
  height: 50%;
  border-left: solid;
  border-color: black;
}

button{
  border-radius: 10px;
  height: 45px;
  width: 150px;
  text-align: center;
  background-color: #5499C7;
  font-size: 15px;
  color: #ffffff;
}
input{
  height: 35px;
  font-size: 15px;
}

body { font-family: sans-serif; }

tbody {
  display: block;
  max-height: 400px;
  overflow-x: auto;
  width: 100%
}

thead {
  display: inline-block;
  width: 100%;
}

table {
  font: 14px Verdana;
  border-collapse: collapse;
  border-spacing: 1px
}

th {
  padding: 5px;
  border: 1px solid #888888;
}

td {
  padding: 5px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #888888;
}
