
* {
  margin: 0;
  padding: 0;
}

/* Navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
/*.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
*/  


.leftTable { width: 50%; float: left; }
.rightTable {width: 50%; float: right; }

/*.container { overflow: hidden; }*/

.mainContainer {
  width: 100%;
  margin: auto;
}

.matchData { 
  width: 75%;
  height: 200px;
  float: left;
}

.sideBar {
  margin-left: 75%;
  width: 25%;
  height: 100vh;
  border-left: solid;
  border-color: black;

  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sideBarLeague {
  border-top: solid;
  border-color: black;
  width: 100%;
  height: 20%;
}

button{
  border-radius: 10px;
  height: 45px;
  width: 150px;
  text-align: center;
  background-color: #5499C7;
  font-size: 15px;
  color: #ffffff;
}
input{
  height: 35px;
  font-size: 15px;
}
table {
  border-collapse: collapse;
  width: 95%;
}
th, td {
  text-align: center;
  font-size: 15;
  padding: 5px;
}
th {
  background-color: #34323A;
  color: white;
  font-weight: normal;
  font-size: 15px;
}

body { font-family: sans-serif; }
