
* {
  margin: 0;
  padding: 0;
}

/* Navigation */
.topnav {
  /* margin-left: 10%; */
  background-color: black;
  overflow: hidden;
  width: 65%;
  margin-left: 10%;
  list-style: none;
  /* margin: 0;
  padding: 0; */
  text-align: center;
}

.topnav li{
  display: inline;
}

/* Style the links inside the navigation bar */
.topnav a {
  /* float: left; */
  color: #f2f2f2;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.matchData { 
  width: 65%;
  float: left;
  margin-top: 50px;
  margin-left: 10%;
}

.teamLogoRow {
  float: left; 
  clear: left;
  margin-left: 40%;
  padding-top: 10px;
}

.teamLogoRow2 {
  float: right; 
  clear: left;
  margin-right: 40%;
  padding-top: 10px;
}

.leftTable {
  width: 50%; 
  float: left;
}

.rightTable {
  width: 50%; 
  float: right;
}

.leftTeamSelect {
  float: left;
  margin-left: 35%; 
}

.rightTeamSelect {
  float: right;
  margin-right: 35%; 
}

#tableDiv {
  margin-left: 1.75%;
  margin-top: 15px; 
  float: left;
  text-align:center;
}

#tableDiv2 {
  margin-right: 1.75%;
  margin-top: 15px;
  float: right; 
  text-align:center;
}

.historyTable {
  width: 70%; 
  margin-left: 15%; 
  margin-right: 15%;
  text-align: center;
}

/*.container { overflow: hidden; }*/

@media (orientation: landscape) {
  .sideBar {
    margin-left: 75%;
    width: 25%;
    height: 100vh;
    border-left: solid;
    border-color: black;
    padding-bottom: 1%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }

  .sideBarLeague {
    width: 100%;
    height: 20%;
  }
}

@media (orientation: portrait) {
  .sideBar {
    margin-left: 65%;
    width: 35%;
    height: 100vh;
    border-left: solid;
    border-color: black;
    padding-bottom: 1%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }

  .sideBarLeague {
    width: 100%;
    height: 15%;
  }
}

body { 
  font-family: sans-serif; 
  width: 100%;
}

.team_results tbody {
  display: block;
  max-height: 500px;
  overflow-x: auto;
  width: 100%
}

.team_results thead {
  display: inline-block;
  width: 100%;
}

::-webkit-scrollbar {
display: none;
} 
.team_results table {
  font: 15px Verdana;
  border-collapse: collapse;
  border-spacing: 1px
}

.team_results th {
  padding: 7px;
  border-width: 1px 0px 1px 1px;
  border-color: black;
}

.team_results td {
  padding: 7px;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  border-color: black;
}

.team_results th:last-child {
  border-width: 1px 1px 1px 1px;
}

.team_results tr:hover {
  background-color: #f5f5f5;
}

.upcoming-matches {
  width: 350px;
  align-items: center;
  justify-content: center;
}

.week_row {
  width: 100%;
  height: 25px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  border-top: thick double;
  border-bottom: thick double;
  font-weight: bold;
}

.match_row:hover {
  background-color: #A9A9A9; 
}

.match_row  {
  width: 350px;
  height: 100px;
  margin: auto;
  padding: 5px;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.match_column_1 {
  float: left;
  width: 100px; 
  height: 100px;
}

.match_column_2 {
  float: left;
  width: 147px; 
  height: 100px;
  display: table;
}

.match_column_2 p {
  display: table-cell; 
  text-align: center;
  vertical-align: middle; 
  font-weight: normal;
}

.match_column_3 {
  margin-right: 3px;
  float: right;
  width: 100px; 
  height: 100px; 
}

#league{ display:none; }

th {
  padding: 7px;
  border: 1px;
  border-style: solid;
  border-color: black;
}

td {
  padding: 7px;
  border: 1px;
  border-style: solid;
  border-color: black;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  background-color: black;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
}

.sidenav a {
  padding-left: 5px; 
  padding-top: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display:block;
  height:50x;
  line-height:50px;
  /* text-align: center;
  vertical-align: middle; */
}

/* .sidenav a:hover {
  color: #f1f1f1;
} */
