<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/script.ejs %>
    <% include ../partials/nav.ejs %>

    <p>A site scraper was created using python to obtain match statistics from 'https://lol.gamepedia.com/'</p>
    <br>
    <p>A UI was then created to display the statistics in a much more readable format to help users determine what bets to place.</p>
    <br>
    <p>All bets are placed on betonline.ag</p>
    <br>
    <p>Created by Carlisle Miller</p>
</body>
</html>
