<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/script.ejs %>
    <% include ../partials/nav.ejs %>

    <p>Created by Carlisle Miller</p>
</body>
</html>
