<DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<!-- <body onload="create_history()"> -->
<body>
    <% include ../partials/script.ejs %>
    <% include ../partials/nav.ejs %>

    <center>
        <br>
        <h1>Bet History</h1>
        <br>
        <p>Initial investment: <b>$100</b></p>
        <br>    
    </center>

    <div id="historyDiv" class="historyTable"></div>

</body>
</html>
