<DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/script.ejs %>
    <% include ../partials/nav.ejs %>

    <center>
        <br>
        <h1>Frequently Asked Questions</h1>
        <br>
        <p>What websites do you use to bet on?<b>betonline.ag / Bet365</b></p>
        <br>    
    </center>
</body>
</html>
